@tailwind base;
@tailwind components;
@tailwind utilities;
 /* css beings from here  */
 /* google fonts  */
 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
 p{
    font-family: 'Libre Baskerville', serif;
}
 /* navbar */ 
 .links{
    display: none;
 }
 label input:checked ~ .links{
display: flex;
background-image:url("./\(nicola\)/img/care.jpg");
background-position: center;
background-size: cover;
}
.nav{
    background-image: url("./\(nicola\)/img/care.jpg");
}
/* health  */
.health{
    background-image: url("./\(nicola\)/img/white.png");
}
/* support */
.support{
    background:linear-gradient(45deg,rgba(173, 104, 140, 0.6)
    ,rgba(179, 53, 118, 0.6)),url("./\(nicola\)/img/gaja (1).jpg");


    background-position: center;
    background-size: cover;
    clip-path: circle(32.6% at 0 0);
}
.support2{
    background: linear-gradient(rgba(72, 219, 251,0.6)
    ,rgba(72, 219, 251,0.6)),url("./\(nicola\)/img/support.png");
   background-position: center;
   background-size: cover;
}








 