@tailwind base;
@tailwind components;
@tailwind utilities;
 /* css beings from here  */
 /* google fonts  */
 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
 p{
    font-family: 'Libre Baskerville', serif;
}
/* nav  */
@media screen and (max-width:640px) { 
label input:checked ~ .links{
  display: flex;
  }
  .links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 6rem;
    background: linear-gradient(to right, rgba(0, 60, 255, 0.3),rgba(2, 32, 131, 0.3)),url("./\(nicola\)/img/gaja (2).jpg");
    background-position: center;
    background-size: cover;
    border-radius: 2%;
  }
}

.navbar{
  background: linear-gradient(to left, rgba(0, 60, 255, 0.3),rgba(2, 32, 131, 0.3)),url("./\(nicola\)/img/care.jpg");
  background-position: center;
  background-size: cover;
}

/* health */

.health{
background:linear-gradient(to top, 
rgba(0, 41, 145, 0.03),rgba(0, 41, 145, 0.31))
, url("./\(nicola\)/img/h2.jpg");



 background-position: center;
 background-size: cover;

}

















