@tailwind base;
@tailwind components;
@tailwind utilities;

/* css beings  */
/* nabvar */
/* the checkbox  */
.nav_phone{
    position: relative;
}
.nav_links{
    display: none;
    position: absolute;
    top: 10vh;
    right: 2%;
    width: 16rem;
    text-align: center;

  }
  label input:checked ~ .nav_links{
  display: flex;
  flex-direction: column;

  }
  














@media screen and (max-width:720px){
    .nav{
        display: none;
    }
}

@media screen and (min-width:720px){
    .nav_phone{
        display: none;
    }
}

















